body{
    background-color:#07253b 
}

.notes{
    position: absolute;
    top:200px;
    left: 250px;
    font-family: monospace;
    font-size: 500px;
    color: #666;
}

.soundPageNotes{
    position: relative; 
    top: 300px;
    left: 40px;
    font-family: monospace;
    font-size: 50px;
    color: white;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: #07253b;
    padding: 0px;
}

.grid-item {
    width: 85%;
    height: 100%;
    border-radius: 15px;
    padding: auto;
}

#C4 {
    background-color: #ff4d6b
}

#D4 {
    background-color: #ff7142
}

#E4 {
    background-color: #ffff66
}

#F4 {
    background-color: #33ff98
}

#G4 {
    background-color: #33ffff
}

#A4 {
    background-color: #3399ff
}

#B4 {
    background-color: #b28cff
}

#C5 {
    background-color: #ff8cd9
}